
@font-face {
    font-family: "Source-light";
    src: url(./Fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: "Source-regular";
    src: url(./Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: "Source-extra-light";
    src: url(./Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}

@font-face {
    font-family: "Source-bold";
    src: url(./Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: "Source-black";
    src: url(./Fonts/source-sans-pro/SourceSansPro-Black.otf);
}

@font-face {
    font-family: "Source-semi-bold";
    src: url(./Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: "Source-italic";
    src: url(./Fonts/source-sans-pro/SourceSansPro-It.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Global classes */

a{
    text-decoration: none;
}

/** x Global classes x */

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/** Header Section */

header{
    margin: 35.02px 0 0 171.59px;
    width: 1103.41px;
    height: 29.46px;
    z-index: 2;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 234px;
    height: 15px;
}

ul li a{
    color: #fff;
    font-family: "Source-bold";
}



/** Main Sections */

main{
    margin-top: -65px;  
}

/* Main Section-1 */

main section:nth-child(1){
    height: 1093px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./images/Object.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section:nth-child(1) div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-child(1) div:first-child h1{
    font-size: 120px;
    font-weight: bold;
    margin-top: 220px;
    color: #ffffff;
    text-align: center; 
    letter-spacing: 5px;
    font-family: "Source-bold";
}

section:nth-child(1) div:first-child div span{
    color: #ffffff;
    font-family: "Source-bold";
    margin-top: 10px;
}

section:nth-child(1) div:first-child div span:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    margin: 0 57px 0 59px;
}

section:nth-child(1) div:first-child button{
    margin-top: 38px;
    height: 44px;
    width: 162px;
    display: block;
    border: 1px solid #979797;
    border-radius: 22px;
    background-color:  #C271FF;
    color: #ffffff;
    font-family: "Source-semi-bold";
    box-shadow: 0px 2px 20px #000000;
}

section:nth-child(1) div:last-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section:nth-child(1) div:last-child h2{
    margin-top: 168px;
    color: #ffffff;
    font-size: 32px;
    font-family: "Source-light";
}

section:nth-child(1) div:last-child h2 span{
    color: #C271FF;
    font-weight: bold;
    font-family: "Source-bold";
}

section:nth-child(1) div:last-child div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1009px;
    height: 237px;
    margin-top: 87px;
    margin-bottom: 98px;
}

section:nth-child(1) div:last-child div .persons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px; 
    height: 237px;
}


section:nth-child(1) div:last-child div .persons img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

section:nth-child(1) div:last-child div .persons h3{
    color: #ffffff;
    line-height: 27px;
    font-size: 18px;
    font-family: "Source-black";
}

section:nth-child(1) div:last-child div .persons p{
    text-align: center;
    color: #ffffff;
    line-height: 24px;
    font-style: italic;
    font-size: 16px;
    font-family: "Source-italic";
}


/* Main Section-2 */

section:nth-child(2){
    /* margin-top: 50px; */
    height: 392px;
    background-color: #C271FF;
    border: 1px solid #979797;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section:nth-child(2) div:first-child, section:nth-child(2) div:first-child img{
    width: 160px;
    height: 160px;
}

section:nth-child(2) div:first-child img{
    border-radius: 80px;
}

section:nth-child(2) div:last-child{
    margin-left: 53px;
    width: 730px;
    height: 158px;
}

section:nth-child(2) div:last-child blockquote, 
section:nth-child(2) div:last-child h3,
section:nth-child(2) div:last-child p{
    font-size: 22px;
    line-height: 33.6px;
    text-align: left; 
    border-spacing: 16px;
    font-family: "Source-regular";
    color: #ffffff;
} 

section:nth-child(2) div:last-child blockquote{
    font-family: "Source-regular";
} 

section:nth-child(2) div:last-child h3{
    font-family: "Source-bold";
    margin-top: 22px;
}

section:nth-child(2) div:last-child p{
    font-family: "Source-italic";
}



/* Main Section-3 */

section:nth-child(3){
    padding: 87px 105px 107px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:nth-child(3) h2{
    font-size: 32px;
    font-family: "Source-light";
    color: #071629;
}

section:nth-child(3) h2 span{
    font-family: "Source-bold";
    color: #C271FF;
}

section:nth-child(3) div{
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

section:nth-child(3) div:not(:last-child){
   margin-right: 30px;
}

section:nth-child(3) div div{
    width: 255px;
    height: 335px;
    display: flex;
    flex-direction: column;
}


section:nth-child(3) div div img{
    height: 154px;
    width: 255px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}

section:nth-child(3) div div h3{
    height: 154px;
    margin-top: 18px;
    font-family: "Source-bold";
    font-size: 16px;
    color: #071629;
}

section:nth-child(3) div div h3,
section:nth-child(3) div div p,
section:nth-child(3) div div div{
    padding-left: 13px;
}


section:nth-child(3) div div p{
    margin-top: 7.6px;
    font-size: 14px;
    font-family: "Source-regular";
    border-spacing: 16px;
    line-height: 24px;
    color: #071629;
    opacity: 50.16%;
}

section:nth-child(3) div div div{
    margin-top: 13.4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

section:nth-child(3) div div div img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 13px;
}

section:nth-child(3) div div div h4{
    height: 27px;
    text-align: center;
    margin-top: 5px;
    color: #C271FF;
}

section:nth-child(3) div div div.stars{
    width: 200px;
    height: 15px;
    color: #C271FF;
}

section:nth-child(3) div div div.stars .fa-star:not(:last-of-type){
    margin-right: 8px;
}

section:nth-child(3) div div div.stars .fa-star:last-of-type{
    color: #979797;
}

section:nth-child(3) div div p#time{
    margin-top: -20px;
    text-align: end;
    font-family: "Source-bold";
    line-height: 27px;
    font-size: 14px;
    opacity: 100%;
    color: #C271FF;
}

img#play{
    z-index: 10;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #979797;
    position: absolute;
    align-self: center;
    margin-top: 50px;
}




